body{
    background-color: #999999;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title{
    margin: auto;
    color: red;
    font-size: 3em;
    font-family: "Courier New";
}
#backBtn{
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: "Courier New";
    width: 8em;
    margin: 5px auto;
   
  }
.grid-container {
    display: grid;
    grid-template-columns: 50px 70px auto 20px;
    gap: 10px;
    background-color: white;
    padding: 10px;
}
#grid-item{
    font-size: 2em;
}